<h1 class="text-center">Create Stories</h1>

<%= render :partial => "layouts/error", locals: {object: @story, object2: nil} %>

<%= form_for @story, html: { multipart: true } do |f| %>

    <div class="form-group">
        <div><b>Select the author:</b></div>
        <%= f.collection_select :author_id, @authors , :id, :name, {prompt: "Select an author"}, {class: "form-control"}  %>
        or
        <br>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
          Add a new Author
        </button>
        
        
    </div>

    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>
    
    <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
    </div>
    
    <div class="form-group">
        <b>Story Image</b>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
   
    <div class="text-center">
        <%= f.submit 'Create a Entry', :class => 'btn btn-primary' %>
    </div>

<% end %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new Author</h4>
      </div>
      <div class="modal-body">

        <%= form_for @author, html: { multipart: true } do |f| %>

            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :bio %>
                <%= f.text_area :bio, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <b>Author Image</b>
                <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
            </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="create_a_new_user" type="button" class="btn btn-primary">Add new Author</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $("#create_a_new_user").on('click',function(e){
        e.preventDefault();
        new_author_form = $("#new_author");
        var formData = new FormData( new_author_form[0] );
        $.ajax({
            type:'POST',
            url: "/create_author_ajax",
            data:formData,
            cache:false,
            contentType: false,
            processData: false,
            success:function(data){
                if(data["result"] == "yes"){
                    $("#story_author_id").append(data["result_content"]);
                    $('#story_author_id').val( data["result_id"] );
                    $('#myModal').modal('hide');
                }
                else {
                    alert("Please complete the form correctly...");
                }
            }
        });
    });
});
</script>